.bg {
  background-image: url(../images/paper.jpg);
}
.bg .container .row .txtproducts .text12 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 0 0 0 15px;
}
.bg .container .row .txtproducts .products .col-md-4 {
  width: 33.3%;
}
.bg .container .row .txtproducts .products .col-md-4 .module-12 a {
  text-decoration: none;
  text-align: center;
}
.bg .container .row .txtproducts .products .col-md-4 .module-12 a .img12 {
  max-width: 100%;
  height: auto !important;
  padding-bottom: 15px;
}
.bg .container .row .txtproducts .products .col-md-4 .module-12 a .text12-1 {
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 5px !important;
  color: #000000;
}
.bg .container .row .txtproducts .products .col-md-4 .module-12 a .price {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  display: block;
  font-weight: 400;
  margin-bottom: .5em;
}
.bg .container .row .txtproducts .products .col-md-4 .module-12 a .price .price12 {
  font-size: 16px !important;
  color: #cfa670;
}
.bg .container .row .txtproducts .products .col-md-4 .module-12 a .fa {
  text-transform: uppercase;
  border: 0;
  padding: 30px;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
  opacity: 0.3;
  color: #222;
  font-size: 12px;
  display: block;
  margin: auto;
}
.bg .container .row .txtproducts .products .col-md-4 .module-12 a .fa:hover {
  opacity: 1;
}
