.module2 {
  color: #efc337;
  font-family: 'Tahoma', serif;
  background-color: #333;
  height: 80px;
  width: 100%;
  color: #424242;
}
.col-md-4 {
  background-color: #F8F8FF;
  list-style-type: none;
  height: 80px;
  width: 20%;
  padding: 10px;
  padding-top: 20px;
  padding-right: 400px;
  text-align: center;
  padding-left: 100px;
  font-size: 11px;
}
.col-md-4 p img {
  height: 40px;
  width: 100px;
}
.col-md-8 {
  background-color: #F8F8FF;
  list-style-type: none;
  width: 63%;
  height: 80px;
  padding: 10px;
  padding-top: 20px;
  padding-right: 0px;
  text-align: center;
  padding-left: 50px;
  font-size: 11px;
}
.col-md-8 ul {
  background-color: #F8F8FF;
  font-family: Arial, san-serif;
  list-style-type: none;
  color: #fff;
  padding: 0;
}
.col-md-8 ul li {
  font-weight: bold;
  display: inline;
  color: #F8F8FF;
  float: left;
  padding-right: 15px;
}
.col-md-8 ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  display: block;
  padding: 10px 30px;
  font-weight: bold;
}
.col-md-8 ul li a:hover {
  color: #efc337;
  background-color: #F8F8FF;
}
.col-md-8 ul li button {
  height: 40px;
  width: 150px;
  background-color: #FFFFFF;
  color: #000000;
}
.col-md-8 li ul a {
  color: #fff;
  background-color: #000000;
  width: 200px;
  padding-left: 0;
}
.col-md-8 li ul a:hover {
  color: #F8F8FF;
  padding-left: 0;
  background: #444;
}
.col-md-8 li ul {
  position: absolute;
  display: none;
  width: 180px;
  padding-top: 20px;
  height: 100px;
}
.col-md-8 li:hover ul {
  display: block;
}
