.module09 {
  background-color: #262626;
  background-size: cover;
}
.module09 li {
  list-style: none;
}
.module09 .footer {
  color: #999999;
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
  margin-bottom: 0;
  padding-top: 50px;
  float: left;
}
.module09 .footer .sidebar_four {
  max-width: 1425px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 0 90px;
  list-style: none;
}
.module09 .footer .sidebar_four .descrip .textwidget {
  padding-top: 10px;
}
.module09 .footer .sidebar_four .descrip .textwidget .social {
  width: 100%;
}
.module09 .footer .sidebar_four .descrip .textwidget .social ul {
  list-style: none;
  margin: 0;
  text-align: left;
}
.module09 .footer .sidebar_four .descrip .textwidget .social ul li {
  color: #ffffff;
  padding: 0;
  width: 15%;
  font-size: 20px;
}
.module09 .footer .sidebar_four .descrip .textwidget img {
  max-width: 95%;
  height: auto;
}
.module09 .footer .sidebar_four .descrip2 .tuongtu {
  margin-left: 0;
}
.module09 .footer .sidebar_four li {
  width: 20%;
  float: left;
  margin-right: 5%;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}
.module09 .footer .sidebar_four h2 {
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.module09 .footer p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.module09 p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.module09 .footer ul .sidebar_four li ul li {
  list-style: none;
  border-color: #000000;
  padding-top: 0;
  width: auto !important;
  clear: none !important;
}
