.module09 {
  background-color: #262626;
  background-size: cover;
}
.module09 li {
  list-style: none;
}
.module09 .footer {
  width: 100%;
  margin: auto;
}
.module09 .footer ul .sidebar_four {
  width: 100%;
  margin: auto;
  padding: 0 90px;
}
.module09 .footer .sidebar_four li {
  width: 20%;
  float: left;
  margin-right: 5%;
}
.module09 .footer .sidebar_four h2 {
  color: #ffffff;
  font-size: 23px;
}
.module09 .footer .sidebar_four .textwidget img {
  max-width: 95%;
  height: auto;
}
.module09 .footer .sidebar_four .textwidget img .social {
  width: 100%;
}
.module09 .footer .sidebar_four .textwidget img .social ul {
  margin: 0;
  text-align: left;
}
.module09 .footer ul li {
  width: 25%;
}
.module09 .footer p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #999999;
}
