.module-07{
	background-image: url(../images/paper.jpg);

	.content07{
	
    .content-img07{
        .content1{
            width: 40%;
            position: absolute;
            left: 90px;
            background: rgb(255, 255, 255);
            padding: 20px;
            z-index: 2;
            display: block;
            transform: translate3d(0px, 90px, 0px);
            float: left;
            margin-right: 3.5%;
            box-sizing: border-box;
            .ppb-menu-title{
                font-weight: 400;
                font-size: 30px;
                text-transform: uppercase;
                margin-bottom: 10px;
                padding-bottom: 1px;
                border-bottom: 1px solid #222;
                display: inline-block;
                line-height: 1.2em;
                letter-spacing: 2px;

            }
            .menu_content_classic{
                width: 100%;
                float: left;
                margin: 25px 0 0 0;
                text-align: left;
                .menu-post{
                    font-weight: 600;
                    
                    text-transform: uppercase;
                    position: relative;
                    .menu_dots{
                    font-weight: no;
                    }    
                }
            }
                
        }        
    	.image{
        width: 100%;
        height: auto;
        text-align: center;
            .img07{
                width: 65%;
                height: auto;
                float: right;
            }

    	}
    }
    }
}