.module09{
		background-color: rgba(38,38,38,1);
		background-size : cover;

		
	.footer{
		color : #999999;
		border-color: #e1e1e1;
		width: 100%;;
	    margin: auto;
	    padding-bottom: 50px;	    
	    margin-bottom: 0;
	    padding-top: 50px;
	    float: left;
	    	.sidebar_four{
			    width: 100%;
			    box-sizing: border-box;
			    margin: auto;
			    padding: 0 90px;
			    list-style: none;
			    	.descrip{
			    		.textwidget{


			    			.text{
			    				padding-top: 0.5em;
    							padding-bottom: 0.5em;
			    			}
			    			padding-top: 10px;
			    				.social{
			    						
			    						width: 100%;
									    margin: 20px 0 5px 0;
									    ul{
				    					   list-style : none;
				    					   margin-left: 0 !important;
	    									text-align: left;
	    									li{
					    					  	color : #ffffff;
					    					  	padding : 0;
					    					  	width : 15%;
					    					  	font-size: 20px;
					    					  	list-style : none;
								    			margin: 0;
							    				text-align: left;
					    				a:active{
					    					color : white !important;
					    					line-height : 24px;
					    					font-size : 24px;
					    					margin : 0;
					    				}
			    					}
	    							}
									    
			    				}
			    				
			    				
			    				
			    				.fa{
			    					display: inline-block;
								    font: normal normal normal 14px/1 FontAwesome;
								    font-size: inherit;
								    text-rendering: auto;
								    -webkit-font-smoothing: antialiased;
			    				}
			    		}
			    		
			    	}


			    		.descrip2{
			    		
			    				.mota a{
			    					  	color : #ffffff;
			    					  	
			    			}
			    		}
			    		.descrip3{
			    			img{
			    				width : 70px;
			    				height : auto;
			    			}
			    		}
			    		
			    	

			    	.descrip,.descrip2,.descrip3,.descrip4{
			    		margin-left : 50px;
			    		padding : 100px;

			    	}			
			    
	    	}
	    	
	    	.sidebar_four li{
	    		width: 20%;			    
			    margin-right: 5%;
			    font-weight: inherit;
			    font-style: inherit;
			    font-size: 100%;
	    	}
	    	.sidebar_four h2 {
	    		color : #ffffff;
	    		margin-top: 15px;
    			margin-bottom: 15px;
    			font-family: Lato, Helvetica, Arial, sans-serif;
			    font-size: 12px;
			    font-weight: 900;
			    letter-spacing: 2px;
			    text-transform: uppercase;
	    	}		
	}

	.footer p{
		padding-top: 0.5em;
    	padding-bottom: 0.5em;
    	
	}
	

	.footer ul li{
		width : 23%;
		float : left;
		margin : 0 auto;
		padding : 10px;
			
	}
	h2{
		color : #fff;
		font-size : 20px;
	}

	a:hover{
		color :  #cfa670;
		text-decoration : none;

	}

	li{
			list-style : none;
	    	text-align: -webkit-match-parent;
	}

		

}