.module805 {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center center;
}
.module805 .row .title1 {
  text-align: center;
  padding: 0;
  width: 100% !important;
}
.module805 .row .title2 {
  padding-top: 100px;
  font-size: 70px;
  font-family: Kristi, "Comic Sans MS", cursive, sans-serif;
  color: #cfa670;
  display: block;
  font-style: italic;
  text-transform: none;
  top: 0;
  position: relative;
  text-transform: lowercase;
}
.module805 .row .title3 {
  font-size: 60px;
  color: #fff !important;
  text-transform: uppercase;
  display: block;
}
.module805 .row .abc {
  padding: 0px 0 0px 0;
  margin: 0px 0 0px 0;
  width: 100%;
  padding: 0;
  max-width: 100%;
}
.module805 .row .abc .monan {
  width: 24%;
  float: left;
  background-image: url(../images/paper_bg.png);
}
.module805 .row .abc .monan img {
  max-width: none !important;
  width: 100% !important;
}
.module805 .row .abc .monan .ten,
.module805 .row .abc .monan .price {
  font-size: 16px;
  font-weight: bold;
}
.module805 .row .abc .monan .cham {
  height: 3px;
  background-image: radial-gradient(circle closest-side,#ccc 80%,#fff 10%);
  background-size: 4px 2px;
}
.module805 .row .clearfix {
  clear: both;
}
