.module17{
		background-image : url(../images/background2.jpg);
		background-repeat: no-repeat;
	      background-attachment:fixed;
	    background-size: 100%;
	    background-position: center center;
		max-width : 100%;
	.douong{
		height :217px;
		color : white;

		

		.title1{
			
			background-size : 100%;
			position : relative;
			clearfix : both;
			.paratitle{
				    z-index: 9;
				    text-align : center;
				    bottom: 20px;
				    width: 100% !important;
				    font-size: 60px;
    				text-transform: uppercase;
    					h2{
							color : white !important;

						}
						.wine{
							font-family : Kristi, "Comic Sans MS", cursive, sans-serif;
							margin : 500px ;
						    
						    color: #cfa670;
						    			    			    
						    text-transform: lowercase;
						    font-size : 70px;
						}
			}

		}
			.title2{
			    text-transform: uppercase;
				
				border-bottom: 1px solid #222;
				color : #000;
				letter-spacing: 2px;
				
				padding-top: 30px;
				display:inline-block;
			}
			.ChuDe{
			text-align: center;
			}
		.menudrink{
			background-image: url(../images/paper_bg.png);
			width: inherit;
		
			margin-top: 50px;
			margin-bottom: 250px;
			padding-bottom : 500px;


		.gop{
				width : 30%;
				float : left;
				margin: 0 30px;;
				display : block;
				padding : 0 80px;
				.one_third{
					width: 33,33%;
				    
				  
				    position: relative;
				    box-sizing: border-box;
				    .contentmenu{
				    	    width: 100%;
						   
						    .menupost{
						    	font-weight: 600px;
							    font-size: 14px;
							    text-transform: uppercase;
							    position: relative;


							    .menu_price{
							    	height: 18px;
								    line-height: 14px;
								    text-align: center;
								    padding: 3px 7px 3px 7px;
								    
								    
								    float: right;
								    font-size: 16px;
								
								    
							    }

							    	.menu_dots{
										position: absolute;
									    top: 14px;
									    left: 0;
									    right: 0;
									    z-index: 1;
									    margin: 0;
									    border: 0;
									    height: 3px;
									    display: block;
									    background-image: radial-gradient(circle closest-side,#ccc 80%,#fff 10%);
									    background-position: bottom;
									    background-size: 4px 2px;
									    background-repeat: repeat-x;


						    }
							    
						    
				    }
				    .descrip{
							    	color : #424242;
							    	font-size: 14px;
							    }
				}
				
		}
		}


	}

	span{
		color : #000;
		font-weight : bold;
		font-size :16px;
	}
	
}

.Oder{
	height: 18px;
    line-height: 14px;
    text-align: center;
    padding: 3px 7px 3px 7px;
    background: #cfa670;
    color: #fff;
    float: right;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
   	
}

.fa-star{
	height: 18px;
    line-height: 14px;
    text-align: center;
    padding: 3px 7px 3px 7px;
    background: #cfa670;
    color: #fff;
    float: right;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
}

.Chu-De{
	margin-right: 5px;
}
	


}